{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic Meta Tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- Title -->
        <title>Unrained - Real-Time Weather Updates for Your City</title>

        <!-- Meta Description -->
        <meta
            name="description"
            content="Get accurate, real-time weather updates for your city with Unrained. Check current conditions, forecasts, and more to stay prepared for any weather."
        />

        <!-- Keywords -->
        <meta
            name="keywords"
            content="weather app, real-time weather, weather updates, weather forecast, current weather, Unrained, weather conditions, local weather, weather alerts"
        />

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />

        <!-- Canonical URL -->
        <link rel="canonical" href="https://unrained.com/" />

        <!-- Open Graph Meta Tags (for Social Media Sharing) -->
        <meta property="og:title" content="Unrained - Real-Time Weather Updates for Your City" />
        <meta
            property="og:description"
            content="Get accurate, real-time weather updates for your city with Unrained. Check current conditions, forecasts, and more to stay prepared for any weather."
        />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://unrained.com" />
        <meta property="og:image" content="{% static 'images/og_image.png' %}" />
        <meta property="og:site_name" content="Unrained" />

        <!-- Twitter Card Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Unrained - Real-Time Weather Updates for Your City" />
        <meta
            name="twitter:description"
            content="Get accurate, real-time weather updates for your city with Unrained. Check current conditions, forecasts, and more to stay prepared for any weather."
        />
        <meta name="twitter:image" content="{% static 'images/og_image.png' %}" />

        <!-- Stylesheets -->
        <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css" />

        <!-- Preconnect for External Resources -->
        <link rel="preconnect" href="https://cdnjs.cloudflare.com" />
        <link rel="preconnect" href="https://cdn.jsdelivr.net" />

        <script
            defer
            src="/unrained_plausible/js/script.js"
            data-api="/unrained_plausible/api/event"
            data-domain="unrained.com"
        ></script>

        <!-- Structured Data (JSON-LD)
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "WebApplication",
                "name": "Unrained",
                "url": "https://www.unrained.com/",
                "description": "Get accurate, real-time weather updates for your city with Unrained. Check current conditions, forecasts, and more to stay prepared for any weather.",
                "applicationCategory": "Weather",
                "operatingSystem": "Web",
                "screenshot": "{% static 'images/og_image.png' %}",
                "offers": {
                    "@type": "Offer",
                    "price": "0",
                    "priceCurrency": "USD",
                    "availability": "https://schema.org/InStock"
                }
            }
        </script> -->
    </head>
    <body>
        {% block content %}
        <!-- Default content can go here -->
        {% endblock %}

        <footer class="footer">
            <div class="footer-container">
                <div class="footer-row">
                    <!-- Logo and company info -->

                    <!-- PRODUCT LINKS -->
                    <div class="footer-column">
                        <h3 class="footer-heading">Products</h3>
                        <ul class="footer-links">
                            <li>
                                <a
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    href="https://skyflow.me?utm_source=unrained"
                                    class="footer-link"
                                    >Bluesky Observatory</a
                                >
                            </li>
                            <li>
                                <a
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    href="https://pwplz.com?utm_source=unrained"
                                    class="footer-link"
                                    >Free Passwords</a
                                >
                            </li>
                            <li>
                                <a
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    href="https://punpal.net?utm_source=unrained"
                                    class="footer-link"
                                    >Joke Battles</a
                                >
                            </li>
                            <li>
                                <a
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    href="https://jumblr.fun?utm_source=unrained"
                                    class="footer-link"
                                    >Reading Challenge</a
                                >
                            </li>
                        </ul>
                    </div>

                    <!-- BLOG LINKS -->
                    <div class="footer-column">
                        <h3 class="footer-heading">Blog</h3>
                        <ul class="footer-links">
                            <li>
                                <a
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    href="https://devarno.com/blog/password-please?utm_source=unrained"
                                    class="footer-link"
                                    >Passwords | FastAPI</a
                                >
                            </li>
                            <li>
                                <a
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    href="https://devarno.com/blog/dje-skyflow-1?utm_source=unrained"
                                    class="footer-link"
                                    >Networking | FastAPI</a
                                >
                            </li>
                            <li>
                                <a
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    href="https://devarno.com/blog/jokes-votes-launch?utm_source=unrained"
                                    class="footer-link"
                                    >Jokes | Next.js</a
                                >
                            </li>
                            <li>
                                <a
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    href="https://devarno.com/blog/sicilian-bytes?utm_source=unrained"
                                    class="footer-link"
                                    >Code | Cooking</a
                                >
                            </li>
                        </ul>
                    </div>

                    <!-- SOCIAL LINKS -->
                    <div class="footer-column">
                        <h3 class="footer-heading">Social</h3>
                        <ul class="footer-links">
                            <li>
                                <a
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    href="https://bsky.app/profile/devarno.com"
                                    class="footer-link"
                                    >Bluesky</a
                                >
                            </li>
                            <li>
                                <a
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    href="https://github.com/Dev4rno"
                                    class="footer-link"
                                    >GitHub</a
                                >
                            </li>
                            <li>
                                <a
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    href="https://www.reddit.com/user/Dev4rno/"
                                    class="footer-link"
                                    target="_blank"
                                    >Reddit</a
                                >
                            </li>
                            <li>
                                <a
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    href="https://ko-fi.com/dev4rno"
                                    class="footer-link"
                                    target="_blank"
                                    >Ko-Fi</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="footer-row">
                    <div class="footer-column footer-logo-column">
                        <a href="https://devarno.com" class="footer-logo-link" target="_blank" title="Visit DevArno">
                            <img src="{% static 'images/devarno.png' %}" alt="DevArno Logo" class="footer-logo" />
                        </a>
                        <p class="footer-tagline">Build the solution</p>
                        <p class="footer-copyright">© {{ current_year }} DevArno. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
