{% extends "weather_app/base.html" %} {% block content %}
<body>
    <div class="container">
        <h1>Unrained</h1>
        <p>Which city are we checking?</p>
        <ul>
            {% for city in cities %}
            <li>
                <form method="post" action="{% url 'city_selection' %}">
                    {% csrf_token %}
                    <input type="hidden" name="lat" value="{{ city.lat }}" />
                    <input type="hidden" name="lon" value="{{ city.lon }}" />
                    <button type="submit">
                        {{ city.name }}<span class="fi fi-{{ city.country }}" style="margin-left: 8px"></span>
                    </button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
{% endblock %}
